@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
 padding: 40px 0;
 &__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
}

.menu {
 &__list {
  display: flex;
 }
 &__list-item + .menu__list-item {
  margin-left: 37px;
 }
 &__list-link {
  @extend %Roboto-400;
  color: $title;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: all 0.4s;
  &:hover {
   padding-bottom: 5px;
   @extend %Roboto-700;
   color: $accent;
   border-bottom: 1px solid $accent;
  }
 }
}

.user-nav {
 &__list {
  display: flex;
 }
 &__list-item {
  position: relative;
 }
 &__list-item + .user-nav__list-item {
  margin-left: 25px;
 }
 &__list-item-num {
  position: absolute;
  top: -10px;
  right: -14px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  background-color: $accent;
  border-radius: 50%; 
 }
}

.top-slider {
 background: url(../images/top-slider/slider-bg.jpg) center center/cover no-repeat;
 padding-top: 70px;
 &__container {
  max-width: 1510px;
  margin: 0 auto;
  padding: 0 15px;
 }
 &__inner {
  position: relative;
 }
 &__item {
  display: flex !important;
  justify-content: space-between;
 }
 &__item-content {
  max-width: 720px;
  padding: 129px 0 0 155px;
 }
 &__item-title {
  margin-bottom: 40px;
  @extend %Roboto-700;
  font-size: 58px;
  line-height: 68px;
  color: $title;
 }
 &__item-text {
  max-width: 470px;
  margin-bottom: 59px;
 }
}

.slick-dots {
 position: absolute;
 bottom: 39px;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
 li {
  padding: 0 5px;
  button {
   position: relative;
   padding: 0;
   width: 31px;
   height: 31px;
   &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #8d8d8d;
    border-radius: 50%;
   }
   font-size: 0;
   line-height: 0;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 50%;
   cursor: pointer;
  }
 }
 .slick-active {
   button {
    border-color: $accent;
    &::before {
     background-color: $accent;
    }
   }
 }
}

.categories-info {
 position: relative;
 &::before {
 content: '';
 position: absolute;
 top: 50%;
 left: 0;
 width: 324px;
 height: 864px;
 transform: translateY(-50%);
 background-image: url(../images/decore/categories-decore-left.svg);
 }
 &::after {
 content: '';
 position: absolute;
 top: 50%;
 right: 0;
 width: 324px;
 height: 864px;
 transform: translateY(-50%);
 background-image: url(../images/decore/categories-decore-right.svg);
 }
}

.info {
 padding: 120px 0;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr;
 grid-auto-columns: 1fr 1fr 1fr;
 grid-auto-rows: 1fr;
 grid-gap: 30px;
 &__item {
  max-width: 370px;
  padding: 60px 40px;
  background-color: #ffffff;
  box-shadow: 20px 0 60px rgba(202, 202, 202, 0.35);
 }
 &__item--first {
  position: relative;
  &::before {
   content: '';
   position: absolute;
   top: -43px;
   left: -43px;
   width: 120px;
   height: 120px;
   background-image: url(../images/decore/info-decore-first.svg);
   z-index: -1;
  }
 }
 &__item--last {
  position: relative;
  &::before {
   content: '';
   position: absolute;
   right: -24px;
   bottom: -24px;
   width: 65px;
   height: 52px;
   background-image: url(../images/decore/info-decore-last.svg);
   z-index: -1;
  }
 }
 &__item-img {
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
 }
 &__item-title {
  margin-bottom: 20px;
  @extend %Roboto-400;
  font-size: 22px;
  color: $title;
 }
}

.categories {
 padding-bottom: 120px;
 &__title {
  margin-bottom: 29px;
 }
 &__text {
  max-width: 523px;
  margin: 0 auto 59px;
  text-align: center;
 }
 &__items {
  height: 636px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
 }
 &__item {
  padding: 40px;
 }
 &__item-subtitle {
  margin-bottom: 11px;
 }
 &__item-title {
  margin-bottom: 16px;
  @extend %Roboto-500;
  font-size: 22px;
  color: $title;
 }
 &__item-link {
  transition: all 0.3s;
  color: $title;
  @extend %Roboto-400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
 }
 &__item--bg1 {
  background: url(../images/categories/categories-bg-1.jpg) center center/cover no-repeat;
  grid-row: span 2;
  .categories__item-subtitle,
  .categories__item-link:hover {
   color: #5800e4;
  }
 }
 &__item--bg2 {
  background: url(../images/categories/categories-bg-2.jpg) center center/cover no-repeat;
  grid-column: span 2;
  .categories__item-subtitle,
  .categories__item-link:hover {
   color: #fe3e57;
  }
 }
 &__item--bg3 {
  background: url(../images/categories/categories-bg-3.jpg) center center/cover no-repeat;
  .categories__item-subtitle,
  .categories__item-link:hover {
   color: #ffb534;
  }
 }
 &__item--bg4 {
  background: url(../images/categories/categories-bg-4.jpg) center center/cover no-repeat;
  .categories__item-subtitle,
  .categories__item-link:hover {
   color: #34c3ff;
  }
 }
}

.video-fashion {
 padding: 120px 0;
 background-color: $bg;
 background-image: url(../images/video-fashion/video-fashion-decore.svg);
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 &__inner {
  display: flex;
  justify-content: space-between;
 }
 &__imgbox {
  width: 535px;
  height: 479px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/video-fashion/video-fashion-img.jpg) center center/cover no-repeat;
 }
 &__content {
  max-width: 566px;
  padding-top: 82px;
 }
 &__subtitle {
  margin-bottom: 24px;
  font-size: 22px;
  color: $accent;
  text-transform: uppercase;
 }
 &__title {
  margin-bottom: 40px;
  @extend %Roboto-700;
  font-size: 48px;
  color: $title;
  text-transform: uppercase;
 }
 &__text {
  margin-bottom: 59px;
 }
}

.product {
 padding: 120px 0;
 text-align: center;
 &__title {
  margin-bottom: 30px;
 }
 &__text {
  max-width: 566px;
  margin: 0 auto 60px;
  text-align: center;
 }
 &__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 50px 30px;
 }
 &__link {
  margin: 60px auto 0;
  padding: 19px 29px;
  display: inline-block;
  @extend %Roboto-400;
  letter-spacing: 3.2px;
  color: $title;
  text-transform: uppercase;
  border: 1px solid $accent;
 }
}

.card-product {
 max-width: 370px;
 text-align: center;
 &:hover {
  .card-product__links {
   transform: translateY(0);
  }
 }
 &__img {
  width: 100%;
  max-height: 370px;
  object-fit: cover;
  object-position: center center;
 }
 &__imgbox {
  position: relative;
  max-height: 370px;
  margin-bottom: 29px;
  overflow: hidden;
 }
 &__links {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  max-width: 212px;
  margin: 0 auto;
  display: flex;
  transform: translateY(300%);
  line-height: 0;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 5px 30px rgba(152, 152, 152, 0.2);
  transition: all 0.6s;
 }
 &__link {
  padding: 15px 25px;
  path {
   transition: all 0.3s;
  }
  &:hover {
   path {
    fill: $accent;
   }
  }
 }
 &__link:nth-child(2) {
  position: relative;
  &::before,
  &::after {
   content: '';
   position: absolute;
   top: 10px;
   height: 30px;
   width: 1px;
   background-color: #ececec;
  }
  &::before {
   left: 0;
  }
  &::after {
   right: 0;
  }
 }
 &__star {
  margin: 0 auto;
 }
 &__title {
  margin: 19px 0 15px;
  @extend %Roboto-400;
  font-size: 22px;
  color: $title;
 }
 &__price {
  display: flex;
  justify-content: center;
 }
 &__price-new,
 &__price-old {
  padding: 0 8px;
 }
 &__price-new {
  @extend %Roboto-500;
  color: $title;
 }
 &__price-old {
  @extend %Roboto-400;
  text-decoration: line-through;
 }
 &--sale {
  position: relative;
  &::before {
   content: 'SALE';
   position: absolute;
   top: 20px;
   left: 20px;
   padding: 9px 10px;
   @extend %Roboto-400;
   line-height: 1;
   letter-spacing: 0.8px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: $accent;
   z-index: 1;
  }
 }
}

.banner {
 padding: 160px 0;
 background: url(../images/banner/banner-bg.jpg) center center/cover no-repeat;
 &__content {
  max-width: 571px;
  margin-left: auto;
  text-align: center;
 }
 &__subtitle {
  margin-bottom: 29px;
  color: #fe3e57;
  font-size: 22px;
  text-transform: uppercase;
 }
 &__title {
  margin-bottom: 60px;
  @extend %Roboto-700;
  font-size: 48px;
  color: $title;
  text-transform: uppercase;
 }
 &__time {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
 }
 &__time-item {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 10px 40px rgba(187, 187, 187, 0.3);
 }
 &__time-num,
 &__time-text {
  line-height: 1;
 }
 &__time-num {
  color: $title;
  @extend %Roboto-700;
  font-size: 48px;
 }

 &__btn {
  padding: 19px 33px;
  @extend %Roboto-400;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  color: $title;
  border: 1px solid $accent;
 }
}

.brands {
 padding: 120px 0;
 &__inner {
  display: flex;
  justify-content: space-between;
 }
}

.blog {
 padding-bottom: 164px;
 &__title {
  margin-bottom: 29px;
 }
 &__text {
  max-width: 557px;
  margin: 0 auto 56px;
  text-align: center;
 }
 &__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
 }
}

.blog-card {
 max-width: 370px;
 background-color: #ffffff;
 border: 1px solid #ececec;
 &:hover {
  box-shadow: 20px 0 60px rgba(202, 202, 202, 0.35);
  .blog-card__link {
   color: $accent;
   path {
    fill: $accent;
   }
  }
 }
 &__imglink {
  max-width: 370px;
  height: 288px;
  margin-bottom: 34px;
 }
 &__img {
  width: 100%;
  height: 288px;
  object-fit: cover;
  object-position: center center;
 }
 &__content {
  padding: 30px 40px;
 }
 &__info {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 15px;
 }
 &__authore,
 &__date {
  display: flex;
  align-items: center;
 }
 &__authore-icon,
 &__date-icon {
  margin-right: 10px;
 }
 &__title {
  margin-bottom: 20px;
  @extend %Roboto-400;
  font-size: 22px;
  line-height: 32px;
  color: $title;
 }
 &__link {
  transition: all 0.4s;
  path {
   transition: all 0.4s;
  }
 }
}

.top {
  &__container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 136px 0 140px;
    background: url(../images/top/top-banner.jpg) center center/cover no-repeat;
  }
  &__title {
    margin-bottom: 34px;
  }
}

.login {
  max-width: 570px;
  margin: 0 auto;
  padding: 120px 0;
  &__links {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
  }
  &__link {
   padding: 0 30px;
   @extend %Roboto-400;
   font-size: 22px;
   color: #909090;
   text-transform: uppercase;
  }
  &__form-label {
    display: block;
  }
  &__link--active {
    color: $accent;
  }
  &__form-input {
    width: 100%;
    height: 60px;
    margin: 5px 0 40px;
    padding: 15px 20px;
    border: none;
    background-color: $bg;
  }
  &__form-text {
    margin-bottom: 30px;
  }
  &__form-btn {
   width: 100%;
   margin: 20px 0;
   padding: 24px;
   @extend %Roboto-400;
   font-size: 16px;
   line-height: 0;
   letter-spacing: 3.2px;
   color: #ffffff;
   text-transform: uppercase;
   border: none;
   background-color: #292929;
   cursor: pointer;
  }
  &__form-link {
    color: $accent;
  }
}







.footer {
 background-color: $bg;
 &__top {
  padding: 76px 0 41px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
 }
 &__box + .footer__box {
  margin-left: 30px;
 }
 &__box:nth-child(1) {
  max-width: 270px;
 }
 &__box:nth-child(2) {
  max-width: 170px;
 }
 &__box:nth-child(3) {
  max-width: 170px;
 }
 &__box:nth-child(4) {
  max-width: 470px;
 }
 &__top-logo {
  display: inline-block;
  margin-bottom: 35px;
 }
 &__top-address,
 .footer__top-email,
 .footer__top-phone {
  display: block;
 }
 &__top-address {
  margin-bottom: 15px;
 }
 &__top-email {
  margin-bottom: 15px;
 }
 &__top-phone {
  margin-bottom: 38px;
 }
 &__title {
  margin-bottom: 51px;
  @extend %Roboto-500;
  font-size: 22px;
  line-height: 1;
  color: $title;
 }
 &__list-item {
  margin-bottom: 15px;
 }
 &__text {
  margin-bottom: 29px;
 }
 &__form {
  display: flex;
 }
 &__form-input {
  margin-right: 10px;
  padding: 19px 17px;
  flex-grow: 1;
  background-color: #ffffff;
  box-shadow: 0 7px 20px rgba(192, 192, 192, 0.3);
  border: none;
 }
 &__bottom {
  padding: 31px 0;
  display: flex;
  justify-content: space-between;
 }
 &__wallet-list {
  display: flex;
 }
 &__wallet-item + .footer__wallet-item {
  margin-left: 42px;
 }
}

.social {
 &__list {
  display: flex;
 }
 &__list-item + .social__list-item {
  margin-left: 19px;
 }
 &__list-link {
  path {
   fill: #8d8d8d;
   transition: all 0.4s;
  }
 }
 &__list-link:hover {
  path {
   fill: $accent;
  }
 }
}




@import 'media';