@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
 padding: 40px 0;
 &__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
}

.menu {
 &__list {
  display: flex;
 }
 &__list-item + .menu__list-item {
  margin-left: 37px;
 }
 &__list-link {
  @extend %Roboto-400;
  color: $title;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: all 0.4s;
  &:hover {
   padding-bottom: 5px;
   @extend %Roboto-700;
   color: $accent;
   border-bottom: 1px solid $accent;
  }
 }
}

.user-nav {
 &__list {
  display: flex;
 }
 &__list-item {
  position: relative;
 }
 &__list-item + .user-nav__list-item {
  margin-left: 25px;
 }
 &__list-item-num {
  position: absolute;
  top: -10px;
  right: -14px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  background-color: $accent;
  border-radius: 50%; 
 }
}

.top-slider {
 background: url(../images/top-slider/slider-bg.jpg) center center/cover no-repeat;
 padding-top: 70px;
 &__container {
  max-width: 1510px;
  margin: 0 auto;
  padding: 0 15px;
 }
 &__inner {
  position: relative;
 }
 &__item {
  display: flex !important;
  justify-content: space-between;
 }
 &__item-content {
  max-width: 720px;
  padding: 129px 0 0 155px;
 }
 &__item-title {
  margin-bottom: 40px;
  @extend %Roboto-700;
  font-size: 58px;
  line-height: 68px;
  color: $title;
 }
 &__item-text {
  max-width: 470px;
  margin-bottom: 59px;
 }
}

.slick-dots {
 position: absolute;
 bottom: 39px;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
 li {
  padding: 0 5px;
  button {
   position: relative;
   padding: 0;
   width: 31px;
   height: 31px;
   &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #8d8d8d;
    border-radius: 50%;
   }
   font-size: 0;
   line-height: 0;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 50%;
   cursor: pointer;
  }
 }
 .slick-active {
   button {
    border-color: $accent;
    &::before {
     background-color: $accent;
    }
   }
 }
}

.info {
 padding: 120px 0;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr;
 grid-auto-columns: 1fr 1fr 1fr;
 grid-auto-rows: 1fr;
 grid-gap: 30px;
 &__item {
  max-width: 370px;
  padding: 60px 40px;
  background-color: #ffffff;
  box-shadow: 20px 0 60px rgba(202, 202, 202, 0.35);
 }
 &__item-img {
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
 }
 &__item-title {
  margin-bottom: 20px;
  @extend %Roboto-400;
  font-size: 22px;
  color: $title;
 }
}

.categories {
 padding-bottom: 120px;
 &__title {
  margin-bottom: 29px;
 }
 &__text {
  max-width: 523px;
  margin: 0 auto 59px;
  text-align: center;
 }
 &__items {
  height: 636px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
 }
 &__item {
  padding: 40px;
 }
 &__item-subtitle {
  margin-bottom: 11px;
 }
 &__item-title {
  margin-bottom: 16px;
  @extend %Roboto-500;
  font-size: 22px;
  color: $title;
 }
 &__item-link {
  transition: all 0.3s;
  color: $title;
  @extend %Roboto-400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
 }
 &__item--bg1 {
  background: url(../images/categories/categories-bg-1.jpg) center center/cover no-repeat;
  grid-row: span 2;
  .categories__item-subtitle,
  .categories__item-link:hover {
   color: #5800e4;
  }
 }
 &__item--bg2 {
  background: url(../images/categories/categories-bg-2.jpg) center center/cover no-repeat;
  grid-column: span 2;
  .categories__item-subtitle,
  .categories__item-link:hover {
   color: #fe3e57;
  }
 }
 &__item--bg3 {
  background: url(../images/categories/categories-bg-3.jpg) center center/cover no-repeat;
  .categories__item-subtitle,
  .categories__item-link:hover {
   color: #ffb534;
  }
 }
 &__item--bg4 {
  background: url(../images/categories/categories-bg-4.jpg) center center/cover no-repeat;
  .categories__item-subtitle,
  .categories__item-link:hover {
   color: #34c3ff;
  }
 }

}







.footer {
 background-color: $bg;
 &__top {
  padding: 76px 0 41px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
 }
 &__box + .footer__box {
  margin-left: 30px;
 }
 &__box:nth-child(1) {
  max-width: 270px;
 }
 &__box:nth-child(2) {
  max-width: 170px;
 }
 &__box:nth-child(3) {
  max-width: 170px;
 }
 &__box:nth-child(4) {
  max-width: 470px;
 }
 &__top-logo {
  display: inline-block;
  margin-bottom: 35px;
 }
 &__top-address,
 .footer__top-email,
 .footer__top-phone {
  display: block;
 }
 &__top-address {
  margin-bottom: 15px;
 }
 &__top-email {
  margin-bottom: 15px;
 }
 &__top-phone {
  margin-bottom: 38px;
 }
 &__title {
  margin-bottom: 51px;
  @extend %Roboto-500;
  font-size: 22px;
  line-height: 1;
  color: $title;
 }
 &__list-item {
  margin-bottom: 15px;
 }
 &__text {
  margin-bottom: 29px;
 }
 &__form {
  display: flex;
 }
 &__form-input {
  margin-right: 10px;
  padding: 19px 17px;
  flex-grow: 1;
  background-color: #ffffff;
  box-shadow: 0 7px 20px rgba(192, 192, 192, 0.3);
  border: none;
 }
 &__bottom {
  padding: 31px 0;
  display: flex;
  justify-content: space-between;
 }
 &__wallet-list {
  display: flex;
 }
 &__wallet-item + .footer__wallet-item {
  margin-left: 42px;
 }
}

.social {
 &__list {
  display: flex;
 }
 &__list-item + .social__list-item {
  margin-left: 19px;
 }
 &__list-link {
  path {
   fill: #8d8d8d;
   transition: all 0.4s;
  }
 }
 &__list-link:hover {
  path {
   fill: $accent;
  }
 }
}




@import 'media';